
<div class="modal fade" id="announcementModal" tabindex="-1" aria-labelledby="announcementModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">
          <!-- will be filled by javascript -->
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <!-- will be filled by javascript -->
      </div>
      <div class="modal-footer d-flex align-items-center">
        <img class="modal-logo" src="{{ '/images/logo/logo_wtext_color.svg' | relative_url }}" alt="Logo">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">weiter zur Website</button>
      </div>
    </div>
  </div>
</div>
