<div class="call">
  <div class="call-box-top mx-auto">

    {% if site.data.contact.phone %}
    <div class="d-flex align-items-center gap-1 gap-sm-2 gap-lg-0">
      <div class="d-flex flex-row align-items-center call-category">
        <img src="{{ '/images/social/phone-classic.svg' | relative_url}}" title="telephone symbol" alt="telephone symbol"/>
        <strong class="d-none d-lg-block ps-lg-1">Telefon:</strong>
      </div>
      <span class="call-value">
        <a href="tel:{{ site.data.contact.phone_full | remove: ' ' | remove: '-' }}">
          {{ site.data.contact.phone }}
        </a>
        {% if site.data.contact.fax and include.show_fax %}
          (Fax: {{ site.data.contact.fax }})
        {% endif %}
      </span>
    </div>
    {% endif %}

    {% if site.data.contact.email %}
    <div class="d-flex align-items-center gap-1 gap-sm-2 gap-lg-0">
      <div class="d-flex flex-row align-items-center call-category">
        <a href="mailto:{{ site.data.contact.email }}">
          <img src="{{ site.data.contact.email_image_path | relative_url}}" title="email symbol" alt="email symbol"/>
        </a>
        <strong class="d-none d-lg-block ps-lg-1">E-Mail:</strong>
      </div>
      <span class="call-value">
        <a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a>
      </span>
    </div>
    {% endif %}

    {% if site.data.contact.address %}
    <div class="d-flex align-items-center gap-1 gap-sm-2 gap-lg-0">
      <div class="d-flex flex-row align-items-center call-category">
        <img src="{{ '/images/social/location-pin.svg' | relative_url}}" title="location symbol" alt="location symbol"/>
        <strong class="d-none d-lg-block ps-lg-1">Adresse:</strong>
      </div>
      <span class="call-value">
        {{ site.data.contact.address.street }}<br>
        {{ site.data.contact.address.zip }} {{ site.data.contact.address.city }}
      </span>
    </div>
    {% endif %}

  </div>

  {% if include.show_button %}
  <div class="call-box-bottom text-center pt-2 mt-1 pt-md-3 mt-md-3">
    <a href="{{ site.data.third-party.online_appointment.external }}" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Termin online buchen</a>
  </div>
  {% endif %}
</div>
