
<!-- TODO: can this be css .hidden per default? -->

<div id="cookie-consent-banner" class="hidden" role="dialog" aria-hidden="true">
    <div class="d-flex align-items-end justify-content-center h-100">
        <div class="banner-box">
            <div class="banner-body">
                <h2 class="title">Cookie-Richtlinie</h2>
                <p>
                    Wir verwenden Cookies für diese Website. Sie entscheiden, welche Cookies Sie zulassen oder ablehnen. Ihre Entscheidung können Sie jederzeit über <em>Cookie-Einstellungen</em> am unteren Ende der Seite ändern.
                    <br>
                    (1) Erforderlich: Ausführungen von Funktionen zur Nutzung der Website und des beschleunigten Ladens von Inhalten. Dabei werden personenbezogene Daten weder erfasst noch verarbeitet.
                    {% if site.data.third-party.google_recaptcha.activated %}
                        Cookies des Dienstes {{ site.data.third-party.google_recaptcha.partner_name }} sind zudem im Rahmen unseres berechtigten Interesses am Schutz der Website vor Missbrauch erforderlich.
                    {% endif %}
                    <br>
                    (2) Optional binden wir Inhalte des Dienstes {{ site.data.third-party.google_maps.partner_name }} ein. Zur Darstellung dessen ist die Nutzung von Google Fonts technisch erforderlich.
                </p>
                <div class="d-flex flex-row gap-1 justify-content-center">
                    <a href="{% link _pages/impressum.md %}"><small>Impressum</small></a>
                    <a href="{% link _pages/datenschutz.md %}"><small>Datenschutzerklärung</small></a>
                </div>
            </div>
            <div class="banner-footer my-2 d-flex flex-column align-items-center gap-2">
                <button id="cookie-consent-accept" class="btn btn-primary btn-sm">alle akzeptieren</button>
                <button id="cookie-consent-limited" class="btn btn-primary btn-sm">nur erforderliche akzeptieren</button>
            </div>
        </div>
    </div>
</div>
<div id="cookie-consent-banner-backdrop" class="hidden"></div>
