
<div class="cookie-consent-add-container hidden" data-cookie-consent-add="{{ include.cookie-consent-target}}" aria-hidden="true">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <small>
          Durch Klicken auf den nachstehenden Button stimmen Sie zu, dass externe Inhalte von {{ include.service-name }} angezeigt werden. Dadurch können personenbezogene Daten an Drittanbieter übermittelt werden.
        </small>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <button class="cookie-consent-add-button btn btn-primary mt-1">externen Inhalt anzeigen</button>
      </div>
    </div>
  </div>
</div>
