<div id="{{ include.id }}" class="accordion">
  {% assign elements = include.elements %}
  {% if include.sort_elements %}
    {% assign elements = elements | sort: 'title' %}
  {% endif %}
  {% for element in elements %}
    {% assign collapse_indexer = forloop.index %}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button {% unless include.uncollapse_first and forloop.first %}collapsed{% endunless %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ include.id }}-{{ collapse_indexer }}">
          {{ element.title }}
        </button>
      </h2>
      <div id="collapse-{{ include.id }}-{{ collapse_indexer }}" class="accordion-collapse collapse {% if include.uncollapse_first and forloop.first %}show{% endif %}" data-bs-parent="#{{ include.id }}">
        <div class="accordion-body">
          {% if element.content %}
            <p>{{ element.content }}</p>
          {% endif %}
          {% if element.bullets %}
            <ul>
              {% for bullet in element.bullets %}
                <li>{{ bullet }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if element.link %}
            <a
              {% if element.link.url_anchor %}
                {% assign anchor = element.link.url_anchor %}
              {% else %}
                {% assign anchor = "" %}
              {% endif %}

              {% if element.link.external %}
                href="{{element.link.url}}{{anchor}}"
              {% else %}
                href="{% link {{element.link.url}} %}{{anchor}}"
              {% endif %}

              {% if element.link.external or element.link.file %}
                target="_blank" rel="noopener noreferrer"
              {% endif %}
            >
              {{ element.link.text }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
