<div class="sub-footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6">
        <div class="sub-footer-inner mb-1">
          {% if site.data.social %}
            {% include social.html %}
          {% endif %}
          <div class="copyright">
            {% if site.credits.webdesign %}
            {{ site.credits.webdesign }}
            {% endif %}
            {% if site.credits.legal %}
            {{ site.credits.legal }}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-6 justify-content-end d-flex">
        <div class="siegel-image">
          <img alt="Prüfsiegel ARGE" src="{{ '/images/Pruefsiegel_ARGE.svg' | relative_url }}"/>
        </div>
      </div>
    </div>
  </div>
</div>