
.page-about {
  ol, ul {
    padding-left: 1.0rem;
  }

  .intro { // workaround/overrides for portrait-oriented images in intro
    @include media-breakpoint-up(md) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 140px;
      padding-bottom: 180px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 140px;
      padding-bottom: 245px;
    }
  }

  .intro-image-absolute {
    max-height: 405px;
    width: auto;
    max-width: 100%;
    @include media-breakpoint-up(md) {
      max-height: none;
      bottom: -95px;
      left: -45px;
      max-width: unset;
      width: 110%;
    }
    @include media-breakpoint-up(lg) {
      bottom: -190px;
      left: -50px;
      width: 100%;
    }
    @include media-breakpoint-up(xl) {
      bottom: -290px;
      left: 0px;
    }
  }
}
