.page-infos {
  .intro-image-absolute {
    @include media-breakpoint-up(md) {
      bottom: -80px;
      left: -75px;
    }
    @include media-breakpoint-up(lg) {
      bottom: -130px;
      left: -65px;
    }
    @include media-breakpoint-up(xl) {
      bottom: -190px;
      left: -70px;
      width: 130%;
    }
  }
  .doc-download-button {
    width: 280px;
    white-space: normal;
    word-break: break-word;
    @include media-breakpoint-up(sm) {
      width: 70%;
    }
    @include media-breakpoint-up(md) {
      width: 50%;
    }
    @include media-breakpoint-up(lg) {
      width: 40%;
    }
    @include media-breakpoint-up(xl) {
      width: 35%;
    }
  }
  .icon {
    width: 2.0em;
    height: auto;
    margin-right: 0.5rem;
    @include media-breakpoint-up(sm) {
      margin-right: 0.75rem;
    }
  }
}
