.page-services {
  .intro-image-absolute {
    @include media-breakpoint-up(md) {
      left: -90px;
      bottom: -30px;
    }
    @include media-breakpoint-up(lg) {
      bottom: -110px;
    }
    @include media-breakpoint-up(xl) {
      width: 120%;
      bottom: -145px;
    }
  }
}
