
.page-home {
  .intro {
    background: $secondary_light;  // suppress linear-gradient
    h1 {
      font-size: 2.0rem;
      @include media-breakpoint-up(sm) {
        font-size: 2.5rem;
      }
      @include media-breakpoint-up(lg) {
        font-size: 3.5rem;
      }
    }
  }
}
