.page-service {
  h1 {
    margin-bottom: 1.1rem;
  }
  .content {
    > p {
      &:first-of-type {
        font-size: 1.1rem;
        line-height: 1.4;
        margin-bottom: 40px;
        @include media-breakpoint-up(md) {
          font-size: 1.3rem;
        }
      }
    }
  }
}
