.page-teams {
  .team-summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 30px;
    height: 100%;
    .team-image {
      height: 90px;
      width: 90px;
      margin-right: 20px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
      }
      @include media-breakpoint-up(lg) {
        height: 105px;
        width: 105px;
      }
    }
    .team-meta {
      flex: 1;
      h2 {
        margin: 0;
        font-size: 1.5em;
        font-weight: normal;
      }
      p { // class team-description
        color: $black;
        text-transform: uppercase;
        margin: 0;
        font-size: 0.8em;
        font-weight: 500;
      }
    }
    .team-content {
      margin-top: 20px;
      flex: 1 0 100%;
    }
  }

  .team-summary-large {
    background-color: $white-offset;
    border-radius: 3px;
    .team-image {
      height: 105px;
      width: 105px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
      }
      @include media-breakpoint-up(lg) {
        height: 130px;
        width: 130px;
      }
    }
  }
}
