.page-infos {
  .doc-download-button {
    width: 80%;
    font-size: 0.80rem;
    white-space: normal;
    word-break: break-word;
    @include media-breakpoint-up(sm) {
      font-size: unset;
      width: 75%;
    }
    @include media-breakpoint-up(md) {
      width: 50%;
    }
    @include media-breakpoint-up(lg) {
      width: 40%;
    }
    @include media-breakpoint-up(xl) {
      width: 35%;
    }
  }
  .icon {
    width: 2.0em;
    height: auto;
    // margin-right: 0.5em;
    // vertical-align: middle;
  }
}
