
.accordion {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

  .accordion-body {
    p {
      margin-bottom: 0px;
    }
    ul, ol {
      padding-left: 1.0rem;
      margin-bottom: 0px;
    }
    a {
      text-decoration: underline;
    }
  }
}
