
$zindex-cookie-consent: 1050;
$zindex-cookie-consent-backdrop: 1049;

#cookie-consent-banner {
  z-index: $zindex-cookie-consent;
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
  &.hidden {
    display: none;
  }
  .banner-box {
    padding: 0.5rem 1rem;
    margin: auto;
    max-width: 90%;
    border: 0.2px solid $secondary;
    border-radius: 0.5rem;
    color: $black;
    background-color: $white;
    @include media-breakpoint-up(md) {
      margin: 0 auto;
      border-radius: 0.5rem 0.5rem 0 0;
    }
  }
  .banner-body {
    font-size: 0.9rem;
    @include media-breakpoint-up(md) {
      font-size: 1rem;
    }
    h2 {
      text-align: center;
      font-size: 1.2rem;
      @include media-breakpoint-up(md) {
        font-size: 1.5rem;
      }
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
  .banner-footer {
    button {
      display: inline-block;
      width: 80%;
      max-width: 330px;
    }
  }
}

#cookie-consent-banner-backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $zindex-cookie-consent-backdrop;
  &.hidden {
    display: none;
  }
}

.cookie-consent-add-container {
  display: block;
  &.hidden {
    display: none;
  }
  .container {
    background-color: $white-offset;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    @include media-breakpoint-up(md) {
      max-width: 600px;
    }
  }
}
