@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 300 700;
	src: local(''),
		url($baseurl + 'assets/fonts/Quicksand-VariableFont_wght.woff2') format('woff2'),
		url($baseurl + 'assets/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}
