.footer {
  background: $footer-background-color;
  padding-top: 15px;
  padding-bottom: 15px;

  .footer-title {
    color: $footer-text-color;
    font-size: 1.3rem;
    font-family: $font-family-heading;
    font-weight: 500;
    margin: 0;
    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }
  }

  ul.footer-inner {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    list-style: none;
    @include media-breakpoint-up(lg) {
      font-size: 1.0rem;
    }
    li {
      color: $footer-text-color;
      padding: 10px;
      a {
        color: $footer-text-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
