.header {
  color: $header-text-color;
  background-color: $header-background-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0px;
  transition: padding 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
  &.header-shrink {
    padding: 5px 0px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: color.scale($header-background-color, $alpha: -50%);
    border-bottom: none;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
