.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, $white 0%, $white-offset 10%, $secondary_light 25%);
  @include media-breakpoint-up(lg) {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  h1 {
    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }
  p {
    font-size: 1.0rem;
    @include media-breakpoint-up(md) {
      font-size: 1.1rem;
      width: 80%;
    }
  }
  .call {
    margin-bottom: 1rem;
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
