.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  @include media-breakpoint-up(lg) {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  h1 {
    font-weight: 500;
    margin-bottom: 1.2rem;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
    &.branding {
      font-size: 2.0rem;
      @include media-breakpoint-up(sm) {
        font-size: 2.5rem;
      }
      @include media-breakpoint-up(lg) {
        font-size: 3.5rem;
      }
    }
  }
  h2 {
    width: 80%;
  }
  p {
    font-size: 1.0rem;
    @include media-breakpoint-up(md) {
      font-size: 1.1rem;
      width: 80%;
    }
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
