.main-menu {
  display: none;
  @include media-breakpoint-up($switch-menu-mobile-desktop-breakpoint) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: $font-family-heading;
    > li {
      list-style: none;
      font-size: 1.2rem;
      > a {
        padding: 10px 12px 10px 12px;
        display: inline-block;
        font-weight: normal;
        text-decoration: none;
        color: $header-text-color;
      }
      .btn {
        font-size: 1.1rem;
        border: 1px solid $white;
        border-radius: 0.5rem;
      }
      &:not(:has(.btn)):after {
        display: block;
        content: '';
        border-bottom: 1px solid darken($header-text-color, 10%);
        transform: scaleX(0);
        transition: transform 225ms ease-in 0s;
      }
      &:not(.active):hover:after {
        transform: scaleX(0.9);
      }
      &.active {
        border-bottom: 1px solid darken($header-text-color, 10%);
        > a {
          font-weight: bold;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            transition: all 225ms ease-in 0s;
          }
        }
      }
    }
  }
}
