.sub-footer {
  background: $sub-footer-background-color;
  color: $sub-footer-text-color;
  padding-top: 15px;
  padding-bottom: 15px;
  .sub-footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .copyright {
    font-size: 0.8rem;
    a {
      color: inherit;
    }
  }
  .siegel-image {
    padding-right: 8px;
    img {
      width: 100px;
      height: auto;
      @include media-breakpoint-up(sm) {
        width: 120px;
      }
    }
  }
}
