p {
  color: $steel;
  font-family: $font-family-base;
}
em {
  font-style: italic;
}
h1 {
  font-family: $font-family-heading;
  font-weight: 500;
  color: $black;
  margin-bottom: 1.2rem;
}
h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  font-weight: normal;
  color: $black;
}
a:not(.btn) {
  text-decoration: underline;
}
ul, ol {
  color: $steel;
}
