---
layout: default
bodyClass: "page-about"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 order-2 order-md-1">
        <h1 class="title">{{page.title}}</h1>
        <p>Hallo, ich bin Carmen Eichelsdörfer,</p>
        <div class="font-family-heading qualifications my-5" data-inviewport="fly-in">
          <p>Physiotherapeutin</p>
          <p>Heilpraktikerin</p>
          <p>Osteopathin in Ausbildung</p>
        </div>
        <p class="w-100">
          Mit einer fundierten Ausbildung und jahrelanger Erfahrung in der Physiotherapie und Heilpraktik, widme ich mich der ganzheitlichen Behandlung meiner Patienten. Im Rahmen meiner Arbeit biete ich eine Vielzahl von Therapiemethoden an, um Ihre Beschwerden gezielt und nachhaltig zu lindern.
        </p>
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip-white">
  <div class="container pt-6 pb-6">
    <div class="row">
      <h2>
        Meine Qualifikationen
      </h2>
    </div>
    <div class="row justify-content-start align-items-center">
      <div class="col-12 col-md-5 col-lg-4">
        <ul>
          <li>Manuelle Therapie</li>
          <li>Manuelle Lymphdrainage</li>
          <li>Krankengymnastik am Gerät</li>
          <li>Kinesiotaping</li>
          <li>Myoreﬂextrainer</li>
          <li>BALLance Concepts</li>
        </ul>
      </div>
      <div class="col-12 col-md-7 col-lg-8">
        <p>
          Mein Behandlungsspektrum umfasst vor allem klassische Erkrankungen aus den orthopädischen und chirurgischen Bereichen. Ich kombiniere verschiedene Therapieansätze, um Ihnen die bestmögliche Behandlung zukommen zu lassen und Ihre Genesung aktiv zu unterstützen.
          <br>
          Ich freue mich darauf, Sie in meiner Praxis begrüßen zu dürfen und Sie auf Ihrem Weg zu mehr Wohlbefinden und Gesundheit zu begleiten!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="strip-secondary-light">
  <div class="container pt-6 pb-6">
    <div class="row justify-content-start align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2">
        <h2>Die Praxis</h2>
        <p>Zu finden in Hallstadt-Dörﬂeins &mdash;<br>Modern, großzügig und barrierefrei!</p>
      </div>
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1 position-relative content" data-inviewport="fly-in" style="--fly-in-start-x: -40%;">
        <img alt="{{ page.title }}" src="{{ 'images/practice/building_outer.jpg' | relative_url }}" />
      </div>
    </div>
    <div class="row justify-content-center">
      <p>
        Auf einer großzügigen Fläche von 160qm bieten wir Ihnen eine neu eröffnete Praxis mit modernen, gut ausgestatteten Räumlichkeiten, die den idealen Rahmen für eine individuelle, speziell auf Ihre Bedürfnisse abgestimmte und effektive Physiotherapie schaffen.
        <br>
        Das Gebäude verfügt über mehrere abgeschlossene Behandlungsräume, die Ihnen während Ihrer Therapie den nötigen Raum und die Privatsphäre bieten. Zusätzlich haben wir einen großen Therapieraum, der speziell für Übungen und rehabilitative Maßnahmen ausgelegt ist. Hier können Sie aktiv an Ihrer Genesung arbeiten.
        Der Zugang ist barrierefrei.
        Für unsere Patienten sind zudem Parkplätze direkt vor dem Eingang vorgesehen, damit das Ankommen so einfach und komfortabel wie möglich ist. Unser Ziel ist es, Ihnen eine angenehme und effektive Therapieumgebung zu bieten.
      </p>
      <p class="col-12 col-md-10 fw-bold">
        Wir freuen uns darauf, Sie bald bei uns begrüßen zu dürfen. Möchten Sie mehr über unsere Praxis erfahren oder einen Termin vereinbaren? Wir stehen Ihnen jederzeit zur Verfügung!
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-7 col-lg-6">
        {% include call.html show_button=true %}
      </div>
    </div>
  </div>
</div>
<!-- Das Team
<div class="strip-secondary-light">
  <div class="container pt-6 pb-6">
    <h2>Das Team</h2>
    <p>Unser Team ist qualifiziert. Jeder mag Pizza.</p>
    {% assign promoted_teams = site.team | where: "promoted", true | sort: "weight" %}
    {% if promoted_teams.size != 0 %}
      <div class="row pb-6">
          {% for team in promoted_teams %}
          <div class="col-12 col-md-6 mb-2">
              <div class="team team-summary team-summary-large">
                  {% if team.image %}
                  <div class="team-image">
                      <img alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                  </div>
                  {% endif %}
                  <div class="team-meta">
                      <h2 class="team-name"><a href="{{ team.url | relative_url }}">{{ team.title }}</a></h2>
                      <p class="team-description">{{ team.jobtitle }}</p>
                      {% if team.linkedinurl %}
                      <a target="_blank" href="{{ team.linkedinurl }}" rel="noreferrer">LinkedIn</a>
                      {% endif %}
                  </div>
                  <div class="team-content">{{ team.excerpt | truncate: 120 }}</div>
              </div>
          </div>
          {% endfor %}
      </div>
    {% endif %}
    <div class="row pb-6">
        {% assign teams = site.team | where: "promoted", empty | sort: "weight" %}
        {% for team in teams %}
        <div class="col-12 col-md-6 mb-3">
            <div class="team team-summary">
                {% if team.image %}
                <div class="team-image">
                    <img alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="team-meta">
                    <h2 class="team-name"><a href="{{ team.url | relative_url }}">{{ team.title }}</a></h2>
                    <p class="team-description">{{ team.jobtitle }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
-->
