---
layout: page-w-intro
bodyClass: "page-contact"
---

<div class="strip strip-white">
    <div class="container">
        <div class="content">{{content}}</div>
    </div>
</div>

<div class="strip strip-secondary-light-gradient">
    <div class="container">
        <h2>Hier finden Sie uns</h2>
        <div class="google-maps-embed hidden" id="google-maps-container" data-cookie-consent="embedGoogleMaps">
            <!-- Google Maps will be embedded here if user consent is given -->
        </div>

        {% include cookie-consent-add-button.html
            cookie-consent-target="embedGoogleMaps"
            service-name="Google Maps"
            service-terms-url="https://policies.google.com/terms"
            service-privacy-url="https://policies.google.com/privacy"
        %}
    </div>
</div>

<div class="strip strip-white">
    <div class="container">
        <div class="row">
            <h2 id="form">Kontaktformular</h2>
        </div>
        <div class="row">
            <div class="col-12 col-lg-10 col-xl-10 mx-auto">
                <div data-cookie-consent="embedReCAPTCHA" data-cookie-consent-necessary="true">
                    {% include contact-form.html %}
                </div>
                <div class="hidden" id="form-success" aria-hidden="true">
                    <div class="alert alert-success text-center" role="alert">
                        <strong>Vielen Dank für Ihre Nachricht!</strong>
                        <br>
                        Wir werden uns umgehend bei Ihnen melden.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
