---
layout: page-w-intro
bodyClass: "page-contact"
---

<div class="strip strip-white">
    <div class="container">
        <div class="content">{{content}}</div>
    </div>
</div>

<div class="strip strip-secondary-light-gradient">
    <div class="container">
        <h2 id="where">Hier finden Sie uns</h2>
        <div class="google-maps-embed hidden" id="google-maps-container" data-cookie-consent="embedGoogleMaps">
            <!-- Google Maps will be embedded here if user consent is given -->
        </div>

        {% include cookie-consent-add-button.html
            cookie-consent-target="embedGoogleMaps"
            service-name="Google Maps"
            service-terms-url="https://policies.google.com/terms"
            service-privacy-url="https://policies.google.com/privacy"
        %}
    </div>
</div>

<div class="strip strip-white">
    <div class="container">
        <div class="row">
            <h2 id="form">Kontaktformular</h2>
            <div class="col-12 col-lg-10 col-xl-10 mx-auto">
                {% if site.data.third-party.contact_form.activated %}

                    <div>
                        {% include contact-form.html %}
                    </div>

                {% else %}

                    <strong>Das Kontaktformular ist derzeit nicht verfügbar.</strong>
                    Bitte kontaktieren Sie uns direkt per E-Mail:
                    <br>
                    <div class="text-center">
                        <a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        fillVacationNote();
    });

    function getNextVacations() {
        const vacationAnnouncements = getSortedVacationData();
        const today = new Date();
        today.setHours(0, 0, 1, 0);  // Set to the start of the day
        let retArr = [];
        vacationAnnouncements.forEach(announcement => {
            const startDate = new Date(announcement.start_date);
            if (startDate >= today) {
                retArr.push(announcement);
            }
        });
        if (retArr.length === 0) {
            return null;
        }
        return retArr;
    }

    function fillVacationNote() {
        const vacationNoteDiv = document.getElementById("vacation-note");
        if (!vacationNoteDiv) {
            console.error("Element with ID 'vacation-note' not found.");
            return;
        }

        let elementArr = getNextVacations();
        if (elementArr) {
            let closingText = document.createElement('p');
            closingText.classList.add("mb-0");
            closingText.innerHTML = "Bitte beachten Sie zudem, dass die Praxis an folgenden Tagen bzw. in folgenden Zeiträumen <strong>geschlossen</strong> ist:";
            vacationNoteDiv.appendChild(closingText);
            let elementTextList = document.createElement('ul');
            elementArr.forEach((element) => {
                const listItem = document.createElement('li');
                const start_date = new Date(element.start_date);
                listItem.innerHTML = `${start_date.toLocaleDateString('de-DE')}`;  // BACKUP: ${dayDate.toLocaleDateString('de-DE', { weekday: 'long' })},
                if (element.end_date) {
                    const end_date = new Date(element.end_date);
                    listItem.innerHTML += `–${end_date.toLocaleDateString('de-DE')}`;
                }
                if (element.note) {
                    listItem.innerHTML += ` (${element.note})`;
                }
                elementTextList.appendChild(listItem);
            });
            vacationNoteDiv.appendChild(elementTextList);
            vacationNoteDiv.classList.add("alert", "alert-primary");
            vacationNoteDiv.setAttribute("role", "alert");
        } else {
            vacationNoteDiv.classList.add("d-none");
        }
    }
</script>
