---
layout: page-w-intro
bodyClass: "page-home"
---

<div class="strip strip-white">
  <div class="container">
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_services | default: 6 %}
      {% assign service_excerpt = site.services | where_exp: "service", "service.voucher != true" %}
      {% for service in service_excerpt limit: limit %}
      <div class="col-12 col-md-4 mb-3">
        <div class="service">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
            </h2>
            <p>{{ service.excerpt | markdownify | strip_html | truncate: 200 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="btn btn-primary" href="{{ "services" | relative_url }}">alle Leistungen</a>
      </div>
    </div>
  </div>
</div>

{% if site.data.features %}
{% assign feature_count = site.data.features | size %}
<div class="strip strip-secondary-light">
  <div class="container">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2 {% if feature_count == 3 %}mb-lg-0{% endif %}">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}"/></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content"><p>{{ feature.description }}</p></div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
