---
layout: page-w-intro
bodyClass: "page-infos"
---

<div class="strip strip-white">
  <div class="container">

    <div class="row mb-6">
      <h2>Dokumente</h2>
      <p>Hier stellen wir Ihnen wichtige Dokumente für Ihren Besuch in unserer Praxis zur Verfügung. Sie können diese bequem herunterladen und bereits vorab ausfüllen.</p>
      <div class="text-center">
        <a href="{% link _downloads/Anamnesebogen_Praxis_Main_Vital.pdf %}" class="doc-download-button btn btn-primary mb-2" target="_blank" rel="noopener noreferrer">
          <div class="d-flex flex-row justify-content-evenly align-items-center">
            <img src="/images/pdf-document.svg" class="icon">
            <span>Anamnesebogen herunterladen</span>
          </div>
        </a>
      </div>
      <div class="text-center">
        <a href="{% link _downloads/Datenschutzerklaerung_Praxis_Main_Vital.pdf %}" class="doc-download-button btn btn-primary mb-2" target="_blank" rel="noopener noreferrer">
          <div class="d-flex flex-row justify-content-evenly align-items-center">
            <img src="/images/pdf-document.svg" class="icon">
            <span>Datenschutzerklärung herunterladen</span>
          </div>
        </a>
      </div>
      <div class="text-center">
        <a href="{% link _downloads/Praxishinweise_Main_Vital.pdf %}" class="doc-download-button btn btn-primary mb-2" target="_blank" rel="noopener noreferrer">
          <div class="d-flex flex-row justify-content-evenly align-items-center">
            <img src="/images/pdf-document.svg" class="icon">
            <span>Praxishinweise herunterladen</span>
          </div>
        </a>
      </div>
    </div>

    <div class="row mb-6">
      <h2 class="mb-2">Von A bis Z</h2>
      <div>
        {% include details-accordion.html
          id="accordion-patient-infos"
          elements=site.data.infos
          sort_elements=true
          uncollapse_first=true
        %}
      </div>
    </div>

    <div class="row justify-content-center mb-1">
      <div class="col text-center">
        <p>Noch Fragen offen? Kommen Sie auf uns zu!</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a href="{% link _pages/contact.md %}" class="btn btn-primary">Kontakt aufnehmen</a>
      </div>
    </div>

  </div>
</div>
