---
layout: default
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip-white">

  <div class="container pt-6 pb-6">
    <div id="accordion-patient-infos" class="accordion">
      {% assign sorted_info_elements = site.data.infos | sort: 'title' %}
      {% for info in sorted_info_elements %}
        {% assign collapse_indexer = forloop.index %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button{% unless forloop.first %} collapsed{% endunless %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ collapse_indexer }}">
              {{ info.title }}
            </button>
          </h2>
          <div id="collapse-{{ collapse_indexer }}" class="accordion-collapse collapse {% if forloop.first %} show{% endif %}" data-bs-parent="#accordion-patient-infos">
            <div class="accordion-body">
              {% if info.content %}
                <p>{{ info.content }}</p>
              {% endif %}
              {% if info.bullets %}
                <ul>
                  {% for bullet in info.bullets %}
                    <li>{{ bullet }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% if info.link %}
                <a
                  {% if info.link.external %}href="{{info.link.url}}"
                  {% else %}href="{% link {{info.link.url}} %}"
                  {% endif %}
                  {% if info.link.external or info.link.file %}target="_blank" rel="noopener noreferrer"
                  {% endif %}
                  >
                  {{ info.link.text }}
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container pb-5">
    <div class="row justify-content-center mb-1">
      <div class="col text-center">
        <p>Noch Fragen offen? Kommen Sie auf uns zu!</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a href="{% link _pages/contact.md %}" class="btn btn-primary">Kontakt</a>
      </div>
    </div>
  </div>
</div>
