---
layout: default
---

<!-- TODO: when applying this layout again, adapt to existing layouts to ensure consistent style -->

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="team team-single">
        <h1>{{page.title}}</h1>
        <img alt="{{ page.title }}" class="d-block d-md-none w-75 rounded mx-auto mb-2" src="{{ page.image | relative_url }}" />
        <div class="content">{{content}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <img alt="{{ page.title }}" class="d-none d-md-inline img-fluid rounded mb-2" src="{{ page.image | relative_url }}" />
    </div>
  </div>
</div>
